{% extends 'base.html' %}

{% block app_content %}
    <form action="" method="post" class="form form-login" role="form">
      <h1 class="mb-3 font-weight-normal">{{ _('Please log in') }}</h1>
      {% if config["WTF_CSRF_ENABLED"] %}
      {{ form.csrf_token() }}
      {% endif %}
      {{ form.username.label(class="sr-only") }}
      {{ form.username(placeholder=_("Username"), class="form-control", autofocus="autofocus") }}
      {{ form.password.label(class="sr-only") }}
      {{ form.password(placeholder=_("Password"), class="form-control") }}
      <div class="checkbox mb-3">
        {{ form.remember_me() }} {{ form.remember_me.label() }}
      </div>
      {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
      <br>
      <p>
        {{ _('New User?') }} <a href="{{ url_for('auth.register') }}">{{ _('Register!') }}</a><br>
        {{ _('Forgot Your Password?') }}
        <a href="{{ url_for('auth.reset_password_request') }}">{{ _('Reset it') }}</a>
      </p>
    </form>
{% endblock %}
