{% extends "base.html" %}

{% block app_content %}

    <div class="row">
      <h1>{{ _('Pricing') }}</h1>
    </div>

    <div class="row">
      <div class="col">
        {{ _('As SyncBoom is just being launched, the current features are all free of cost.') }}<br/>
        {{ _('SyncBoom will subsequently offer different pricing tears, from a free version allowing manual syncing of a limited number of boards, to various monthly plans allowing automated flows for larger numbers of master boards.') }}<br/>
      </div>
    </div>

{% endblock %}
